/* ==========COLOR========== */
$color-bg-primary: #ecf0ff;

$color-primary: #1a73e8;

$color-text-primary: #FFFFFF;


/* ==========NUMBERIC========== */

$screen-breakpoint: 768px;

$text-xs: 0.70rem;
$text-sm: 0.85rem;
$text-lg: 1.2rem;
$text-xl: 1.6rem;
$text-xxl: 2.4rem;
$text-xxxl: 4.0rem;


/* ==========MIXIN========== */
@mixin tablet {
  @media only screen and (max-width: #{$screen-breakpoint - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$screen-breakpoint}) {
    @content;
  }
}
